.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #232323;
}

.footer__wrapper {
    padding: 75px 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;   
}

.footer__column {
    width: 25%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
}

.footer__h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.25px;
    margin-bottom: 35px;
}

.footer__p {
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 25px;
}

.footer__socnets {
    width: 150px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__link {
    width: 30px;
    height: 30px;
    background-color: #dcdcdc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    outline: none;;
}

.footer__socnet {
    width: 20px;
    transition: all 0.2s;
    border-radius: 50%;
    filter: invert(1);
}

.footer__link:hover {
    background-color: #a4c639;
}

.footer__link-regular {
    font-size: 14px;
    color: #fff;
    transition: all 0.3s;
}

.footer__link-regular:hover {
    color: #a4c639;

}

.footer__list {
    max-height: 200px;
    min-height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.footer__contact {

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
}

.footer__input {
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 20px;
    background-color: #343434;
}

.footer__textarea {
    background-color: #343434;
    max-width: 100%;
    max-height: 80px;
    min-height: 75px;
    margin-bottom: 35px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;

}


