.services {
    padding: 100px 0 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.services__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

.services__h2 {
    font-size: 36px;
    font-weight: 600;
    color: #666666;
}

.services__subheading {
    font-size: 15px;
    font-weight: 300;
    margin: 15px 0 0;
    letter-spacing: 1px;
}

.services__items {
    padding: 20px 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.services__card {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
}

.card__img {
    width: 100%;
}

.card__container {
    width: 80%;
    padding: 15px 0;
    margin: 0;
}

.card__h4 {
    font-size: 20px;
    color: #212529;
    font-weight: 700;
    margin: 15px 0 0;
}

.card__p {
    font-size: 14px;
    font-weight: normal;
    color: #666666;
    margin: 15px 0;
    line-height: 30px;
}

.card__btn {
    margin: 20px 0 30px;
}

